.project-section {
  flex-direction: column;
  width: 100%;
  padding: 80px 170px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

  @media (min-width: 1200px) {
    flex-direction: row;
    padding: 80px 170px;
  }

  .curve-container {
    top: 0;
    left: 0;
    display: none;

    @media (min-width: 640px) {
      display: block;
    }
  }

  .content-container {
    width: 100%;
    justify-content: space-between;
  }

  .cc-left {
    flex-direction: column;

    @media (min-width: 1200px) {
      flex-direction: row-reverse;
    }
  }


  .cc-right {
    flex-direction: column;

    @media (min-width: 1200px) {
      flex-direction: row;
    }
  }


  .text-content {
    @media (min-width: 1200px) {
      width: 48%;
    }

    .title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;

      @media (max-width: 1200px) {
        margin-top: 1rem;
      }

      @media (max-width: 640px) {
        margin-top: 0.75rem;
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
      }
    }

    .description {
      margin-bottom: 1.25rem;
    }
  }

  .media-container {
    @media (min-width: 1200px) {
      width: 48%;
    }
  }

  .button-container {
    margin-top: 1rem;

    &.desktop-button {
      display: none;

      @media (min-width: 1200px) {
        display: flex;
        justify-content: flex-start;
        margin-top: 0;
      }
    }

    &.mobile-button {
      @media (min-width: 1200px) {
        display: none;
      }
    }
  }
}
