.sector-carousel-item {
  margin-bottom: 230px;

  .sector-image {
    width: 100%;
    height: 100%;
  }

  .sector-card {
    width: 95%;
    min-height: 280px;
    top: 150px;
    background-color: var(--white-text);
    padding: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .sector-card-title {
      font-weight: bold;
      font-size: 18px;
      padding-bottom: 12px;
    }

    .sector-card-text {
      font-size: 16px;
      padding-bottom: 12px;
    }
  }

  @media (max-width: 1200px) {
    margin-bottom: 250px;
  }

  @media (max-width: 1150px) {
    margin-bottom: 300px;
  }

  @media (max-width: 1024px) {
    margin-bottom: 200px;
  }

  @media (max-width: 992px) {
    margin-bottom: 50px;
    width: 100%;
    display: block;

    .sector-card {
      position: relative;
      width: 100%;
      top: 0;
    }
  }

  @media (max-width: 768px) {
    .sector-card {
      width: 100%;
    }
  }

  @media (max-width: 640px) {
    .sector-card {
      width: 100%;
    }
  }
}
