@tailwind base;
@tailwind components;
@tailwind utilities;

.pink-curve {
  top: 0px; // Ajustez la distance du bas
  right: 0px; // Ajustez la distance de la droite

  @media (max-width: 640px) {
    display: none;
  }
}

.Carousel__Container-sc-hyhecw-0 {
  overflow: hidden;
}
