@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  color: var(--dark-blue);
  background: var(--white-text);

  padding-left: 3rem /* 48px */
;
  padding-right: 3rem /* 48px */
;
  width: 100%;
  text-align: center;

  .logo-image {
    object-fit: contain;
    flex-shrink: 0;
    margin-top: 0.5rem /* 8px */
  ;
    margin-bottom: 0.5rem /* 8px */
  ;
    max-width: 100%;
    aspect-ratio: 2.78;
  }

  .navigation {
    gap: 2.5rem /* 40px */
  ;

    .nav-list {
      /* 28px */
    ;
      /* 28px */
    ;
      /* 32px */
    ;
      /* 32px */
      padding: 2rem 1.75rem;

      .list-icon {
        color: var(--dark-blue);
        padding-right: 0.5rem /* 8px */
      ;
      }

      .nav-list-item {
        left: 0;
        top: 100%;
        margin-top: 0.5rem /* 8px */
      ;
      }

      .sub-menu-item {
        /* 16px */
      ;
        /* 16px */
      ;
        /* 8px */
      ;
        /* 8px */
        padding: 0.5rem 1rem;
      }
    }

    .search-bar {
      width: 2rem /* 32px */
    ;
      height: 2rem /* 32px */
    ;
    }
  }
}
