.projects-carousel-item {
  margin-bottom: 45px;
  width: 100%;

  .project-image {
    width: 100%;
    height: 100%;
  }

  .project-card {
    background-color: var(--white-text);
    padding: 16px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%;

    .project-card-tag {
      font-size: 14px;
      padding: 4px 10px;
      background-color: var(--light-blue);
      margin-bottom: 0.75rem;
    }

    .project-card-title {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 0.75rem;
    }

    .project-card-text {
      padding-bottom: 1rem;
      font-size: 16px;
    }
  }
}

.button-see-more {
  font-size: 14px;
}
